.paymentSuccessModal{
    .modal-header{padding: 45px 0 0;}
    img{margin-bottom: 35px;}
    h3{font-size: 20px;margin-bottom: 15px;color: color(800);}
    p{font-size: 16px;color: #333333;margin-bottom: 20px;}
    &.planSwitchModal{
        .modal-md{max-width: 450px;}
        .modal-body{padding-top: 40px;}
        .btn{min-width: 100px;}
        @include media-breakpoint-up(xl){
            h3{font-size: 24px;}
        }
        @include media-breakpoint-down(xxl){
            .modal-body{padding-top: 20px;}
        }
        @include media-breakpoint-down(lg){
            .modal-body{padding-top: 15px;}
        }
        @include media-breakpoint-down(sm){
            .modal-body{padding-top: 10px;}
        }
    }
    @include media-breakpoint-down(xl){
        .modal-header{padding: 30px 0 0;}
        img{margin-bottom: 20px;max-width: 60px;}
        h3{font-size: 18px;margin-bottom: 10px;}
        p{font-size: 14px;margin-bottom: 15px;}
    }
    @include media-breakpoint-down(md){
        .modal-header{padding: 20px 0 0;}
        img{margin-bottom: 15px;max-width: 50px;}
        h3{font-size: 16px;}
    }
    @include media-breakpoint-down(sm){
        .modal-header{padding: 15px 0 0;}
        h3{font-size: 15px;}
    }
}