.ant-modal{
    &-footer{
        .ant-btn{
            &-primary{
                background: $primary;
                border-color: $primary;
            }
            &-default{
                &:hover{
                    color: $primary;
                    border-color: $primary;
                }
            }
        }
    }
}